@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: 'Inter', sans-serif;
  background-color: #ffffff;
  color: #000000;
}

body {
  min-height: 100vh;
  background: #ffffff;
  color: #000000;
  font-smoothing: antialiased;
}

